﻿@{
    ViewData["Title"] = "Apie žaidimą";
}
<h1>@ViewData["Message"]</h1>

<style>
    .button {
        display: inline-block;
        word-wrap: break-word;
        border-radius: 24px;
        background-color: green;
        border: none;
        color: white;
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        width: 100%;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button:hover {
        background-color: lime;
    }
</style>

<script language="JavaScript">
	function toggle(tag) {
		if (tag.style.display=='') {
			tag.style.display='none'
		} else {
			tag.style.display=''
		}
	}
</script>

<button class="button" onclick="toggle(a)">Kaip žaisti?</button>
<div id="a" name="a" style="display: none;">
    <p align="left" style="margin-left: 15px; word-wrap: break-word; font-weight: bold; font-size: 14px; color: black;">
        Pradėti žaisti žaidimą "Apie Lietuvą: įdomiai" galima paspaudus viršutinėje meniu juostoje punktą "Žaisti".
        Paspaudus punktą, Jūs esate perkeliamas į langą, kuriame reikia pasirinkti klausimų kategoriją. Paspaudus ant
        norimos kategorijos Jums įjungiamas žaidimas, kuriame matote patį klausimą, bėgantį laikmatį, Google Street View langą
        ir keturis atsakymo variantus. Norint atsakyti reikia vaikščioti su Google Street View ir rasti atsakymą. Jei paspaudus
        ant norimo atsakymo, jis užsidega raudonai, vadinasi atsakėte neteisingai, o jei žaliai, vadinasi Jūsų atsakymas yra
        teisingas. Į kitą klausimą esate perkeliamas tik tada, kai į klausimą atsakote teisingai. Kuomet atsakote į visus
        klausimus arba išsenka laikas, žaidimas baigiasi.
        <br>
        <br>
         Šį žaidimą galima žaisti tiek prisiregistravus, tiek ir ne.
    </p>
</div>

<button class="button" onclick="toggle(c)">Kaip skaičiuojami taškai?</button>
<div id="c" name="c" style="display: none;">
    <p align="left" style="margin-left: 15px; word-wrap: break-word; font-weight: bold; font-size: 14px; color: black;">
        Iš pirmo karto atsakius į klausimą teisingai skiriami 5 taškai, iš antro 3, iš trečio 1 ir iš ketvirto 0.
    </p>
</div>

<button class="button" onclick="toggle(b)">Projekto autoriai</button>
<div id="b" name="b" style="display: none;">
    <p align="left" style="margin-left: 15px; word-wrap: break-word; font-weight: bold; font-size: 14px; color: black;">
        Projekto atliko IF-4/11 grupės studentai:
        <div align="left" style="margin-left: 30px; word-wrap: break-word; font-weight: bold; font-size: 14px; color: black;">
            ► Greta Žebrauskaitė
        </div>
        <div align="left" style="margin-left: 30px; word-wrap: break-word; font-weight: bold; font-size: 14px; color: black;">
            ► Gediminas Norkus
        </div>
        <div align="left" style="margin-left: 30px; word-wrap: break-word; font-weight: bold; font-size: 14px; color: black;">
            ► Vilius Vaičiulis
        </div>
        <div align="left" style="margin-left: 30px; word-wrap: break-word; font-weight: bold; font-size: 14px; color: black;">
            ► Laurynas Mekšraitis
        </div>
        <div align="left" style="margin-left: 30px; word-wrap: break-word; font-weight: bold; font-size: 14px; color: black;">
            ► Artūras Naujokas
        </div>
    </p>
</div>