﻿@{
    ViewData["Title"] = "Pagrindinis";
}

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
        <style>
            .carousel-inner > .item > img,
            .carousel-inner > .item > a > img {
                width: 100%;
                margin: auto;
            }
        </style>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                    <img src="~/images/Kaunas.png" alt="Picture1" class="img-responsive" />
                    <div class="carousel-caption">
                        <p>Kaip gerai pažįsti Lietuvą?</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/Trakai.png" alt="Picture2" class="img-responsive" />
                    <div class="carousel-caption">
                        <p>Manai esi buvęs visose lankytinose vietose Lietuvoje?</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/Laisves-aleja.png" alt="Picture3" class="img-responsive" />
                    <div class="carousel-caption">
                        <p>Pasitikrink savo žinias!</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/Birstonas.png" alt="Picture4" class="img-responsive" />
                    <div class="carousel-caption">
                        <p>Žaidimas, leidžiantis ne tik pamatyti, bet ir aplankyti!</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/Vilnius.png" alt="Picture5" class="img-responsive" />
                    <div class="carousel-caption">
                        <p>Pažink Lietuvą kitaip!</p>
                    </div>
                </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
