﻿@model IEnumerable<Watermelon.Models.Category>

@{
    ViewBag.Title = "Kategorijų sąrašas";
}

<h2>Kategorijų sąrašas</h2>

<p align="left">
    @Html.ActionLink("Nauja kategorija", "CreateCategory")
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Kategorijos pav.</th>
        <th>Kategorijos eil.</th>
        <th>Kategorijos klaus.</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr align="left">
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryLine)
            </td>
            <td>
                @Html.ActionLink("Keisti", "EditCategory", new { id = item.CategoryId })
                |
                @Html.ActionLink("Ištrinti", "DeleteCategory", new { id = item.CategoryId })
            </td>
        </tr>
    }
</table>