﻿@model Watermelon.ViewModels.Data.QuestionViewModel

@{
    ViewBag.Title = "Sukurti klausimą";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Data" asp-action="Create" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="QuestionLine" class="col-md-4 control-label"></label>
            <div class="col-md-offset-3">
                <input asp-for="QuestionLine" class="form-control" />
                <span asp-validation-for="QuestionLine" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Url" class="col-md-4 control-label"></label>
            <div class="col-md-offset-3">
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="WrongAns1" class="col-md-4 control-label"></label>
            <div class="col-md-offset-3">
                <input asp-for="WrongAns1" class="form-control" />
                <span asp-validation-for="WrongAns1" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="WrongAns2" class="col-md-4 control-label"></label>
            <div class="col-md-offset-3">
                <input asp-for="WrongAns2" class="form-control" />
                <span asp-validation-for="WrongAns2" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="WrongAns3" class="col-md-4 control-label"></label>
            <div class="col-md-offset-3">
                <input asp-for="WrongAns3" class="form-control" />
                <span asp-validation-for="WrongAns3" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CorrectAns" class="col-md-4 control-label"></label>
            <div class="col-md-offset-3">
                <input asp-for="CorrectAns" class="form-control" />
                <span asp-validation-for="CorrectAns" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Category" class="col-md-4 control-label"></label>
            <div class="col-md-offset-3">
                <select asp-for="Category" class="col-md-9 control-label">
                    <option value="">Pasirinkite kategoriją</option>
                    @foreach (var item in Model.categories)
                    {
                        <option value="@item.CategoryName">@item.CategoryName</option>
                    }
                    
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" value="Sukurti" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>