﻿@model Watermelon.Models.Category

<h2>
    Kategorija ištrinta.
</h2>

<ul>
    <p>Id: @Model.CategoryId</p>
    <p>Pavadinimas: @Model.CategoryName</p>
    <p>Eilutė: @Model.CategoryLine</p>
    @Html.ActionLink("Atgal", "CategoriesList")

</ul>