﻿@model Watermelon.Models.Question

<h2>
    Klausimas ištrintas.
</h2>

<ul>
    <p>Id: @Model.QuestionId</p>
    <p>Klausimas: @Model.QuestionLine</p>
    <p>Nuoroda: @Model.Url</p>
    @Html.ActionLink("Atgal", "Index")

</ul>