﻿@model Watermelon.Models.Category

@{
    ViewBag.Title = "Redaguoti kategoriją.";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Data" asp-action="EditCategory" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-4 control-label"></label>
            <div class="col-md-offset-3">
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CategoryName" class="col-md-4 control-label"></label>
            <div class="col-md-offset-3">
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CategoryLine" class="col-md-4 control-label"></label>
            <div class="col-md-offset-3">
                <input asp-for="CategoryLine" class="form-control" />
                <span asp-validation-for="CategoryLine" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" value="Redaguoti" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>