﻿@model IEnumerable<Watermelon.Models.Question>


@{
    ViewBag.Title = "Klausimų sąrašas";
}

<h2>Klausimų sąrašas</h2>

<p align="left">
    @Html.ActionLink("Naujas klausimas", "CreateQuestion")
    |
    @Html.ActionLink("Nauja kategorija", "CreateCategory")
    |
    @Html.ActionLink("Visos kategorijos", "CategoriesList")
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Klausimas</th>
        <th>Atsakymas</th>
        <th>Redaguoti</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr align="left">
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAns)
            </td>
            <td>
                @Html.ActionLink("Keisti", "EditQuestion", new { id = item.QuestionId })
                @Html.ActionLink("Ištrinti", "DeleteQuestion", new { id = item.QuestionId })
            </td>
        </tr>
    }
</table>