﻿@model PlayerStatistics
<!DOCTYPE html>

<style>
        .container {
            position: relative;
        }

        .topleft {
            position: absolute;
            top: 8px;
            left: 16px;
            font-size: 18px;
        }
        .toprightfirst {
            position: absolute;
            top: 65px;
            left: 800px;
            font-size: 18px;
        }
        .toprightsecond{
            position: absolute;
            top: 130px;
            left: 800px;
            font-size: 18px;
        }
</style>

<h4>Per @Model.PlayedGamesCount žaidimą(ų)</h4>
<h4>surinkta @Model.GetPoints() taškai(ų)</h4>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Teisingai atsakyta', 'Kartų'],
            ['Iš pirmo karto',    @Model.AnswerIn1],
            ['Iš antro karto',    @Model.AnswerIn2],
            ['Iš trečio karto',   @Model.AnswerIn3],
            ['Iš ketvirto karto', @Model.AnswerIn4],
        ]);

          var options = {
              title: 'Tavo spėjimų statistika',
              'width': 1000,
              'height': 500,
              'is3D': true,
              colors: ['green', 'yellow', 'Orange', 'Red'],
              
          };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
</head>

<body>
    <div class="container">
        <div id="piechart" width="800" height="500" class="topleft"></div>
        @if (User.IsInRole("Administrator")) { 
            <FORM ACTION="/Statistics/resetResults">
                <INPUT TYPE="submit" VALUE="Ištrinti esamą progresą" class="btn toprightsecond  btn-danger">
            </FORM>
        }
        <FORM ACTION="/Manage/index">
            <INPUT TYPE="submit" VALUE="Atgal" class="btn toprightfirst">
        </FORM>
    </div>
</body>
