﻿@model GlobalStatisticsViewModel


@{
    ViewBag.Title = "Žaidėjų rezultatai";
    int position = 1;
}

<style>
    #players {        
        font-weight: bold;
        font-family: cursive;
        border-collapse: collapse;
        width: 75%;
    }

    #players td, #players th {
        border: 3px solid gray;
        padding: 8px;
        color: black;
    }

    #players tr:nth-child(even){background-color: lightgray}

    #players tr:hover {background-color: yellow;}

    #players th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #4CAF50;
        color: white;
        font-size: 18px;
    }
</style>

<h1>Rezultatų lentelė</h1>

@if (@Model.PlayerNumber > 0) {
    <h3>Jūsų vieta: @Model.PlayerNumber</h3>
}

<table id="players" align="center">
    <tr>
        <th align="left">Vieta</th>
        <th align="left">Žaidėjas</th>
        <th align="left">Žaista žaidimų</th>
        <th align="left">Atsakyta iš pirmo karto</th>
        <th align="left">Taškai</th>
        <th align="left">Rezultatas</th>
    </tr>

@foreach (var item in Model.Statistics)
{
    <tr>
        <td>
            @position
        </td>
        <td align="left">
            @item.PlayerName
        </td>
        <td align="right">
            @item.PlayedGamesCount
        </td>
        <td align="right">
            @item.AnswerIn1
        </td>
        <td align="right">
            @item.Points
        </td>
        <td align="right">
            @item.Score
        </td>
    </tr>
    position++;
}
</table>