﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.questionArea {
    width: 100%; 
    height: 100%; 
    margin: auto; 
    margin-top: 20px; 
    margin-bottom: 50px; 
    border: 5px solid red;
    color: blue;
    background-color: aquamarine;
}

.questionText {
    font: bold 16px Consolas;  
}

.answerOptions {
    width: 500px;
    height: 80px;
    cursor: grab;
}