﻿@model PlayerAccount
@{
    ViewData["Title"] = "Jūsų profilis";
}
<style>
    .button {
        display: inline-block;
        word-wrap: break-word;
        border-radius: 24px;
        background-color: lightgrey;
        border: thin;
        color: black;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        width: 100%;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;      
    }

    .button:hover {
        background-color: greenyellow;
    }
</style>



<script language="JavaScript">
	function toggle(tag) {
		if (tag.style.display=='') {
			tag.style.display='none'
		} else {
			tag.style.display=''
		}
	}
</script>

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<FORM ACTION="/statistics/chart/">
    <INPUT TYPE="submit" VALUE="Asmeninė Statistika" class="btn btn-success">
</FORM>

<div style="text-align: left; margin-left: 460px; margin-top: 20px" >
    <p>Jūsų paštas: @Model.Email</p>
    <p>Slapyvardis: @Model.Name</p>
    <p>Gimimo data: @Model.Birthday.ToString("yyyy/MM/dd")</p>
    <p>Tikras vardas: @Model.RealName</p>

    <FORM action="/Manage/ChangePassword">
        <INPUT type="submit" value="Keisti Slaptažodį" class="btn btn-group-justified center-block" style="margin-left: -35px">
    </FORM>
</div>

<button class="button" onclick="toggle(a)">Keisti profilio informaciją</button>
<div id="a" name="a" style="display: none;">
    <form asp-controller="Manage" asp-action="Index" method="post" class="center-block form-group">
        @*<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>*@
        <div>
            <label for="realname">Tikras vardas</label>
            <input asp-for="RealName" class="form-control center-block" type="text" maxlength="20" placeholder=@Model.RealName />
            <span asp-validation-for="RealName" class="text-danger"></span>
        </div>
        <div>
            <label for="username">Slapyvardis</label>
            <input asp-for="Name" class="form-control center-block" type="text" maxlength="10" placeholder=@Model.Name />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label for="birthday">Gimimo data</label>
            <input asp-for="Birthday" class="form-control center-block" type="datetime" maxlength="19" placeholder=@Model.Birthday.ToString("yyyy/MM/dd") />
        </div>
        <button class="btn-success btn-lg center-block" type="submit" value="submit">Atnaujinti</button>
    </form>
</div>
