﻿@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Administrator"))
            {
                <li><a asp-controller="Data" asp-action="Index">Duomenys</a></li>
            }
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">@User.GetUserName()</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Atsijungti</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Registruotis</a></li>
        <li><a asp-controller="Account" asp-action="Login">Prisijungti</a></li>
    </ul>
}
