﻿@model IEnumerable<Watermelon.Models.Category>

@{
    ViewBag.Title = "Kategorijų pasirinkimai";
    Random rnd = new Random();
    int colorsNum = Model.Count();
    string[] colorsNames;
    colorsNames = new string[colorsNum];
    int counter = 0;
    for (int i = 0; i < colorsNum; i++)
    {
        colorsNames[i] = String.Format("color{0}", i);
    }
}

<style>
    #categorySelect{

        color: black;
        width: 100%;
        height: 100%;
        float: left;
        max-width: none;
        border-radius: 0px;
        border: 0;
        font-family: Tahoma;
        text-align:left;
        margin: 0px;
        -webkit-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
        display: block;
    }
    #categoryName{
        font-size: 50px;
    }

</style>

@for (int i = 0; i < colorsNum; i++)
{
    string r = rnd.Next(0, 150).ToString();
    string g = rnd.Next(0, 150).ToString();
    string b = rnd.Next(0, 150).ToString();
        
    <style>
        .@colorsNames[i] {
            background-color: rgba(@r, @g, @b, 0.7);
        }

        .@colorsNames[i]:hover {
            background-color: rgba(@r, @g, @b, 1);
        }
    </style>
}

<table width="100%">
    @foreach (var item in Model)
    {
        <tr>
            <td width="100%">
                <form asp-controller="Game" asp-action="Question" asp-route-id="@item.CategoryName" method="post" class="form-horizontal" role="form">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                        <button id="categorySelect" class="@colorsNames[counter]">
                            <table>
                                <tr>
                                    <td width="200px">
                                        <div id="categoryName">@item.CategoryName</div>
                                    </td>
                                    <td>
                                        <p>
                                            @item.CategoryLine
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </button>
                        <input name="category" class="form-control" type="hidden" value="@item.CategoryName" />
                    </div>
                </form>
            </td>
        </tr>
        counter++;
    }
</table>