﻿@model Watermelon.ViewModels.Game.GameResultsViewModel

@{ 
    int questionCount = Model.ans1 + Model.ans2 + Model.ans3 + Model.ans4;
    int points = Model.ans1 * 5 + Model.ans2 * 3 + Model.ans3;
    int maxPoints = questionCount * 5;
}

<h1 style="text-align: center">
    Žaidimas baigėsi!
</h1>

<br />

<h3>
    Jūs surinkote @points/@maxPoints taškų (-us)
</h3>