﻿@model  IEnumerable<Watermelon.Models.Question>
@using Microsoft.AspNet.Http;
@using Newtonsoft.Json;

@{
    // Paruošia duomenis laikmačiui
    int timeInSecsForOneQuestion = 60;
    string timeInSeconds = Convert.ToString(timeInSecsForOneQuestion * Model.Count());
    int timeInSecondsInt = Convert.ToInt32(timeInSeconds) + 1;
    string timeString = Convert.ToString(timeInSecondsInt);
    string minutes, seconds;
    int minutesTmp = Convert.ToInt32(timeInSeconds) / 60;
    int secondsTmp = Convert.ToInt32(timeInSeconds) % 60;
    if (minutesTmp < 10)
    {
        minutes = "0";
        minutes += Convert.ToString(minutesTmp);
    }
    else
    {
        minutes = Convert.ToString(minutesTmp);
    }
    if (secondsTmp < 10)
    {
        seconds = "0";
        seconds += Convert.ToString(secondsTmp);
    }
    else
    {
        seconds = Convert.ToString(secondsTmp);
    }

    //----------------------------------------

    ViewBag.Title = "Question";
    ViewBag.s = "s";

    //Kintamieji
    var eta = '@';
}


@*Street View dizainas*@
<style>
    #pano {
        float: left;
        height: 350px;
        width: 100%;
        margin-top: 5px;
    }
</style>

@*Atsakymo mygtuko dizainas*@
<style>
    .button {
        position: relative;
        background-color: blue;
        border: none;
        border-radius: 12px;
        font-size: 14px;
        font-weight: bold;
        word-wrap: break-word;
        color: white;
        padding: 20px;
        width: 48%;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }

        .button:after {
            content: "";
            background: aqua;
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-left: -20px !important;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s;
        }

        .button:active:after {
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: 0s;
        }
</style>

@*Laikmačio dizainas*@
<style>
    #timer {
        font-size: 18px;
        font-weight: bold;
        font-family: cursive;
        color: tomato;
        margin-right: 15px;
        text-align: right;
        margin-left: 15px;
    }
    .progress-bar{
        -webkit-animation-name: example; /* Chrome, Safari, Opera */
        -webkit-animation-duration: @timeString@ViewData["s"]; /* Chrome, Safari, Opera */
        -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
        animation-name: timeBar;
        animation-duration:  @timeString@ViewData["s"];
        animation-timing-function: linear;
    }
    @@-webkit-keyframes timeBar {
        0% {width: 0%;
              background-color: green;}
        10% {width: 10%;
              background-color: green;}
        50% {width: 50%;
            background-color: yellow;}
        90% {width: 90%;
              background-color: red;}
        100% {width: 100%;
            background-color: red;}
    }

    .progress{
        margin-bottom: 0px;
        width: 100%;
        height: 5px;
    }

    /* Standard syntax */
    @@keyframes timeBar {
        0% {width: 0%;
              background-color: green;}
        10% {width: 10%;
              background-color: green;}
        50% {width: 50%;
            background-color: yellow;}
        90% {width: 90%;
              background-color: red;}
        100% {width: 100%;
            background-color: red;}
    }
</style>


<div class="questionArea" style="background-color: mintcream; border-color: black;">

    @*Laikmačio Javascript kodas*@
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = 0;
                    window.location.href = "/Game/EndScreen";
                }
            }, 1000);
        }

        window.onload = function () {
            var timer = @timeInSeconds,
                display = document.querySelector('#time');
            startTimer(timer, display);
            load();
        };
    </script>

    @*Laikmatis*@
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

        </div>

    </div>
    <div id="timer">

        Likęs laikas: <span id="time">@minutes:@seconds</span>

    </div>

    <!--Javascript kodas, kuris sukuria Google Maps ir Google Street View vaizdus-->
    <script>
        function initialize() {
            var location = { lat: latid, lng: longit };
            var panorama = new google.maps.StreetViewPanorama(
                document.getElementById('pano'), {
                    position: location,
                    pov: {
                        heading: head,
                        pitch: 0,
                        zoom: 1
                    },
                    linksControl: false,
                    panControl: false,
                    enableCloseButton: false,
                    addressControl: false,
                    //disableDefaultUI: true,
                });
            map.setStreetView(panorama);
        }
    </script>

    <div id="pano"></div>

    <div>
        <p id="questionLn" style="font-size: 28px; font-weight: bold; font-family: cursive; color: black; word-wrap: break-word;">
            @Model.ElementAt(0).QuestionLine
        </p>
    </div>

    <div>
        <button id="0" onclick="change(0);" class="button"></button>
        <button id="1" onclick="change(1);" class="button"></button>
        <button id="2" onclick="change(2);" class="button"></button>
        <button id="3" onclick="change(3);" class="button"></button>
    </div>
</div>

<script type="text/javascript">

    var i = 0;
    var urls = new Array();
    var qLn = new Array();
    var correct = new Array();
    var wrong1 = new Array();
    var wrong2 = new Array();
    var wrong3 = new Array();
    var aa = 0;
    var count = '@Model.Count()';
    var firstBtn = document.getElementById("0");
    var secondBtn = document.getElementById("1");
    var thirdBtn = document.getElementById("2");
    var fourthBtn = document.getElementById("3");
    var question = document.getElementById("questionLn");
    var opts = new Array();
    var latid;
    var longit;
    var head;
    var ansNr = 0;
    var firstAns = 0;
    var secondAns = 0;
    var thirdAns = 0;
    var fourthAns = 0;

    // Nuskaito duomenis iš modelio į JavaScript kintamuosius
    @foreach (var item in Model)
    {
    <text>
        qLn[i] = "@item.QuestionLine";
        wrong1[i] = "@item.WrongAns1";
        wrong2[i] = "@item.WrongAns2";
        wrong3[i] = "@item.WrongAns3";
        correct[i] = "@item.CorrectAns";
        urls[i] = "@item.Url";
        i++;
    </text>
    }

    // Patikrina ar teisingas ats. ir jei taip, įjungia kitą klausimą
    function change(selected) {
        if (check(selected)) {
            setTimeout(timeOutAndUpdate, 700);
        }
    }

    // Atnaujina variantų mygtukų tekstą
    function updateFields() {
        firstBtn.innerHTML = opts[0];
        secondBtn.innerHTML = opts[1];
        thirdBtn.innerHTML = opts[2];
        fourthBtn.innerHTML = opts[3];
        question.innerHTML = qLn[aa];
    }

    // Sumaišo atsakymų variantus
    function shuffle(a) {
        var j, x, i;
        for (i = a.length; i; i -= 1) {
            j = Math.floor(Math.random() * i);
            x = a[i - 1];
            a[i - 1] = a[j];
            a[j] = x;
            
        }
    }

    // Atnaujina atsakymo variantų masyvą
    function updateOptions() {
        opts[0] = correct[aa];
        opts[1] = wrong1[aa];
        opts[2] = wrong2[aa];
        opts[3] = wrong3[aa];
    }

    // Tikrina ar teisingas ats. ir atitinkamai pakeičia mygtuko spalvą
    function check(selected) {
        ansNr++;
        if (opts[selected] == correct[aa]) {
            switch(ansNr) {
                case 1:
                    firstAns++;
                    break;
                case 2:
                    secondAns++;
                    break;
                case 3:
                    thirdAns++;
                    break;
                default:
                    fourthAns++;
            }
            ansNr = 0;
            document.getElementById(selected).style.background = "green";
            return true;
        } else{
            document.getElementById(selected).style.background = "red";
            return false;
        }
    }

    // Atlieka visus kito klausimo įjungimo darbus
    function timeOutAndUpdate() {
        aa++;
        if (aa == count) {
            submitResults();            
        }
        else {
            resetButtonColors();
            updateOptions();
            shuffle(opts);
            updateFields();
            convertUrlToCoord();
            initialize();
        }
    }

    // Grąžina mygtukų spalvas į pradines
    function resetButtonColors() {
        firstBtn.style.background = "blue";
        secondBtn.style.background = "blue";
        thirdBtn.style.background = "blue";
        fourthBtn.style.background = "blue";
    }

    // Išrenka latitude, longitude ir heading iš URL
    function convertUrlToCoord() {
        var url = urls[aa];
        var start = url.indexOf("@eta", 0);
        var end = url.indexOf(',', start);
        latid = url.substring(start+1, end);
        start = end;
        end = url.indexOf(',', start + 1);
        longit = url.substring(start+1, end);
        start = end;
        end = url.indexOf(',', start + 1);
        start = end;
        end = url.indexOf(',', start + 1);
        start = end;
        end = url.indexOf('h', start + 1);
        head = url.substring(start+1, end);
        latid = Number(latid);
        longit = Number(longit);
        head = Number(head);
    }

    // Užkrauna pirmą klausimą bei Google Maps API
    function load() {
        convertUrlToCoord();
        updateOptions();
        shuffle(opts);
        updateFields();
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyADXraRD6haqr4Z5Nr44jU_pEkBofrOoWs&callback=initialize';
        document.body.appendChild(script);
    }

    function submitResults() {
            var model = new Object();
            model.ans1 = firstAns;
            model.ans2 = secondAns;
            model.ans3 = thirdAns;
            model.ans4 = fourthAns;
            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("UpdateStats")",
                dataType: "json",
                async: false,
                data: {
                    results: JSON.stringify(model)
                },
                success: function() {
                    console.log("yay");     
                    window.location.href = "/Game/EndScreen";
                },
                failure: function() {
                    console.log("nope");
                }
            });
        }
</script>