﻿@model IEnumerable<Watermelon.ViewModels.Account.LoginViewModel>

@{
    ViewBag.Title = "Žaidėjai";
}

<h2>Žaidėjų sąrašas</h2>

<p>
    <a asp-controller="UserAccounts" asp-action="Create">Naujas</a>
</p>

<table class="table">
    <tr>
        <th>Vardas</th>
        <th>Pašto adresas</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr align="left">
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }
</table>



