﻿@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<PlayerAccount> SignInManager

@{
    ViewData["Title"] = "Prisijungti";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <hr />
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-7 control-label"></label>
                    <div class="col-md-offset-1" style="align-items:center;">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-7 control-label"></label>
                    <div class="col-md-offset-1">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-6 col-md-">
                        <button type="submit" class="btn btn-default">Prisijungti</button>
                    </div>
                </div>
                <p>
                    <div class="col-md-offset-6 col-md-6">
                        <a asp-action="Register">Dar nesate užsiregistravęs?</a>
                    </div>
                </p>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


