﻿@model Watermelon.Models.PlayerAccount


<h1>Tavo profilio informacija</h1>

<FORM ACTION="http://localhost:5952/statistics/statistics">
    <INPUT TYPE="submit" VALUE="Statistika" class="btn btn-info">
</FORM>

    <h5 class="text-success">Tikras vardas: @Model.RealName</h5>
    @*<h5 class="text-success">Slapyvardis: @Model.Username</h5>*@
    <h5 class="text-success">El. Pastas: @Model.Email</h5>
    <h5 class="text-success">Gimimo Data: @Model.Birthday.ToString("yyyy/MM/dd")</h5>

<style>
    .button {
        display: inline-block;
        word-wrap: break-word;
        border-radius: 24px;
        background-color: lightgrey;
        border: thin;
        color: black;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        width: 100%;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button:hover {
        background-color: greenyellow;
    }
</style>
<script language="JavaScript">
	function toggle(tag) {
		if (tag.style.display=='') {
			tag.style.display='none'
		} else {
			tag.style.display=''
		}
	}
</script>

<button class="button" onclick="toggle(a)">Keisti profilio informaciją</button>
<div id="a" name="a" style="display: none;">
    <form asp-controller="Account" asp-action="PlayerAccount" method="post" class="center-block form-group">
        @*<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>*@
        <div>
            <label for="realname">Tikras vardas</label>
            <input asp-for="RealName" class="form-control center-block" type="text" placeholder=@Model.RealName />
            <span asp-validation-for="RealName" class="text-danger"></span>
        </div>
        @*<div>
            <label for="username">Slapyvardis</label>
            <input asp-for="Username" class="form-control center-block" type="text" placeholder=@Model.Username />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>*@
        <div>
            <label for="birthday">Gimimo data</label>
            <input asp-for="Birthday" class="form-control center-block" type="datetime" placeholder=@Model.Birthday />
        </div>
        <button class="btn-success btn-lg center-block" type="submit" value="submit">Atnaujinti</button>
    </form>
</div>

@*<button class="button" onclick="toggle(b)">Keisti spaltažodį</button>
<div id="b" name="b" style="display: none;">
    <form asp-controller="Account" asp-action="PlayerAccount" method="post" class="center-block">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div>
            <label for="exampleInputPassword1">Senas slaptažodis</label>
            <input asp-for="Password" class="form-control center-block" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label for="exampleInputNewPassword1">Naujas slaptažodis</label>
            <input asp-for="Password" class="form-control center-block" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label for="exampleInputNewPassword1">Pakartokite naują slaptažodį</label>
            <input asp-for="ConfirmPassword" class="form-control center-block" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button class="btn-success btn-lg center-block" type="submit" value="submit2">keisti</button>
    </form>
</div>*@